*{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    margin-top: 40px;
    margin-bottom: 20px;
}
#cont{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    width: 30%;
    margin: auto;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
    background:  rgba(255, 255, 255, 0.8)
}
h3{
    font-size: 20px;
    font-weight: bolder;
}
#form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}
#form label{
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
#form input{
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    color: rgb(119, 119, 119);
}
#form input::placeholder{
    color: rgb(200, 200, 200);
}
#form input+p{
    font-size: 13px;
}
#form input[type = "submit"] {
    margin-top: 30px;
    color: black;
}
#enter{
    background-color: #FFE26A;
    cursor: pointer;
}
#enter:hover{
    background-color: turquoise;
}